<!-- <h2>About Compass</h2> -->
<!-- <p>Compass has been designed with something very specific in mind: to be a simple and elegant personal landing page.</p> -->

<!-- <h2>Features</h2> -->
<!-- <ul> -->
<!--   <li>Responsive design</li> -->
<!--   <li>Mobile friendly</li> -->
<!--   <li>Easy deployment to <a href="https://pages.github.com/">GitHub Pages</a></li> -->
<!-- </ul> -->

<!-- <p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p> -->

<p>Apache MXNet 最早源自一群有激情的中国学生。之后它在全世界广泛使用，中文用户一直是 MXNet 最重要的用户群。</p>
<p>MXNet 社区正在努力增加更多的中文资源，方便中文用户阅读和讨论。</p>
<p>这里我们列出目前主要的中文资源：</p>

<!-- <hr /> -->

<ul class="fa-ul main-list">

  <li class="main-list-item">
    <span class="fas fa-book fa-lg main-list-item-icon"></span>
    <a href="http://zh.gluon.ai/">《动手学深度学习》</a>
  </li>

  <li class="main-list-item">
    <span class="fas fa-rss fa-lg main-list-item-icon"></span>
    <a href="http://zh.mxnet.io/blog">博客</a>
  </li>

  <li class="main-list-item">
    <span class="fab fa-discourse fa-lg main-list-item-icon"></span>
    <a href="https://discuss.gluon.ai/">论坛</a>
  </li>

  <li class="main-list-item">
    <span class="fab fa-weixin fa-lg main-list-item-icon"></span>
 扫码关注我们微信公众号<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<img src="images/qrcode.jpg" width="200px"/>
  </li>

</ul>
